@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: mine;
    src: url(../fonts/Minecrafter.Alt.ttf);
}
@font-face {
    font-family: android;
    src: url(../fonts/Android\ 101.otf);
}

body {
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/background.jpg);
    background-position: top center;
    background-size: fixed;
    
    
    
}

.main {
    width: 1018px;
    height: 1187px;
    
    margin: 70px AUTO; 

}

.header {
    width: 1018px;
    height: 100;
    
    margin: 0px auto;
    float: left;
    
   
}

.logobox {
    width: 500px;
    height:auto;
    font-family: mine;
    color: white;
    /* margin-bottom: 40px; */
    font-size: 32px;
    
    text-align: center;
    padding-top: 10px;
    float: left;
    
   
}

.navigation {
    width: 424px;
    height:61px;
    
    float: right;
    padding-top: 50px;
    text-align: center;
    font-family: mine ;
    color: #3d3938;

}
.nav1 {
    width: 115px;
    height: 49px;
    
    float: left;
    margin: 10px 11px;
    background-image: url(../images/nav.png);
    
    
   
    
}
.nav2 {
    width: 115px;
    height: 49px;
    
    float: left;
    margin: 10px 11px;
    background-image: url(../images/nav.png);
   
    
}
.nav3 {
    width: 115px;
    height: 49px;
    
    float: left;
    margin: 10px 11px;
    background-image: url(../images/nav.png);
   
    
}

.featured {
    width: 1018px;
    height: 300px;
    
    margin: 0px auto;
    text-align: center;
    padding-top:100px ;
}

.midbody {
    width: 1018px;
    height: 595px;
    
    margin: 0px auto;
    text-align: center;
    font-family: mine;

}

.leftmod{

    width: 595px;
    height: 595px;
    
    float:left;
    margin-top: 0px;
    background-image: url(../images/midbody.png);
    background-position: center;
   
    margin-left: 18px;

    
}



.leftmodtop {
    height: 61px;
    
    text-align: center;
    font-size: 48pt;
    color: #d0c5c1;
    padding: 10px;
   

}

.leftmodbottom {
    height: 514px;
    padding: 0px 20px;
    text-align: center;
       
}

.leftbottom {
    width: 250px;
    height: 514px;
    
    float: left;
    text-align: center;
    line-height: 60px;
    padding: 0px 3px;

}

.rightbottom {
    width:250px ;
    height: 514px;
    
    float: left;
    text-align: center;
    padding: 0px 3px;
}
.pt1 {
    width: 319px;
    height: 131px;
    
    text-align: center;
    padding-top: 40px;
    font-size: 18pt;
    font-family: android;
    color: #ffffff;

}
.pt2 {
    width: 319px;
    height: 101px;
    
    text-align: center;
    padding-top: 70px;
    font-size: 18pt;
    font-family: android;
    color: #ffffff;

}
.pt3 {
    width: 319px;
    height: 101px;
    
    text-align: center;
    padding-top: 70px;
    font-size: 18pt;
    font-family: android;
    color: #ffffff;

}

.rightmod{

    width: 362px;
    height: 595px;
    
    float: left;
    margin-top: 0px;
    text-align: center;
    background-image: url(../images/midbody1.png);
    margin-left: 26px;
    
    
}

.rightmodtop {

    width: 360px;
    height: 297px;
    
    float: left;
    color: #d0c5c1;
        
}

.footer {
    width: 980px;
    height: 44px;
   
    margin: 20px 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 18pt;
    font-family: android;
    color: #ffffff;
    background-image: url(../images/footer.png)

}
a:link {
    color: #3d3938;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #3d3938;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

  .featured h2 {
    font-family: android;
    color: white;
    font-size: 28px;
    margin-top: 150px;
  }
  
  .featured h3 {
    font-family: android;
    color: white;
    font-size: 20px;
    margin-top: -10px;
  }
 
  .artist {
    height: 70px;
    width: 120px;
    overflow: hidden;
  }

  .sgcover{
    height: 150px;
    width: auto;
    overflow: hidden;
  }